[package]
name = "rubin-consensus-cli"
version = "0.0.0"
edition = "2021"

[dependencies]
hex = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha3 = "0.10"

rubin-consensus = { path = "../rubin-consensus" }
